.card-footer {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-top: 18px;
  
    &.flippable:hover {
      cursor: pointer;
    }
  
    &__top {
      margin-bottom: 8px;
    }
  }
  
  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  
    &__headline {
      color: var(--flugger-blue-40);
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);
    }
  
    &__plus-icon {
      color: var(--flugger-white-100);
    }
  }
  
  .usp-section {
    &__usp {
      margin-bottom: 4px;
      color: var(--flugger-white-100);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);
  
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }