//Temporary colors
$border1: rgb(234, 234, 234);

#header {
  height: 55px;
  min-height: 85px;
  border-bottom: $border1 1px solid;
    
  &__inner {
    display: flex;
  }
  nav ul > li > a,
  .logo,
  .search-bar input {
    padding: 12px;
  }
  .search-bar {
    display: none;
    border:  $border1 1px solid;

    form {
      width: 100%;
    }
  }
  .search-bar,
  input {
    border-radius: 4px;
    width: 100%;
  }
  nav ul > li {
    
    cursor: pointer;
    > a {
      background: rgb(197, 245, 245);
    }
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}