:root {
    --flugger-white-100: #fff;
    --flugger-black-100: #363433;
  --flugger-black-90: #4a4847;
  --flugger-black-80: #5e5d5c;
  --flugger-black-70: #727170;

--flugger-blue-100: #122568;
--flugger-blue-90: #2a3b77;
--flugger-blue-80: #415186;
--flugger-blue-70: #596695;
--flugger-blue-60: #717ca4;
--flugger-blue-50: #8892b4;
--flugger-blue-40: #a0a8c3;
--flugger-blue-30: #b8bed2;
--flugger-blue-20: #d0d3e1;
--flugger-blue-10: #e7e9f0;
--flugger-blue-5: #f3f4f8;
}